{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1>Connexion</h1>
        <div class="row">
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text" name="_username" placeholder="nom">
                    <input type="password" name="_password" placeholder="mot de passe">
                    <input type="submit" class="btn btn-warning"></div>
            </form>
        </div>
    </div>
{% endblock %}